<div class="side-nav">
  <h3>Navigate to Admin Portal Children</h3>
  <ul>
    <li><a routerLink="./single-child/">./single-child</a></li>
  </ul>

  <ul>
    <li><a routerLink="./children-module/">./children-module</a></li>

  </ul>

  <h3>
    Instead of Admin Portal
  </h3>
  <ul>
    <li><a routerLink="./children-module-in-place-of-admin-portal/">./children-module-in-place-of-admin-portal</a></li>
  </ul>

  <h3> Back</h3>
  <ul>
    <li><a routerLink="../">Back with [../]</a></li>
  </ul>
</div>
