<!-- <router-outlet name="sidemenu"></router-outlet> -->
<ion-card>
  <ion-card-header>
    <ion-card-title>CHILDREN Module</ion-card-title>
    <ul>
      <li><button><a routerLink="../">back with ../</a></button></li>
      <li><button><a routerLink="./grand-child/">Forward to GrandChild with ./grand-child</a></button></li>
    </ul>
  </ion-card-header>

  <ion-card-content>
    <p>Children-Module Router</p>
    <p>Going "Back" from within the router will stop at the Children Module</p>
    <router-outlet></router-outlet>
  </ion-card-content>
</ion-card>


